body{
margin:0;
background:#0d0d0d;
color:white;
font-family:sans-serif;
}
.hidden{display:none}
.auth-box{
max-width:350px;
margin:80px auto;
background:#181818;
padding:25px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:10px;
}
.app{display:flex}
.sidebar{
width:240px;
background:#151515;
padding:20px;
min-height:100vh;
}
.main{flex:1;padding:20px}
.nav-btn,input,button,select{
padding:14px;
border:none;
border-radius:14px;
margin-top:10px;
}
button{cursor:pointer}
.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}
.card{
background:#1b1b1b;
padding:20px;
border-radius:20px;
}
.card p{
color:#d4af37;
font-size:28px;
}
.accordion-btn{
width:100%;
background:#d4af37;
margin-top:30px;
}
.accordion-content{
display:none;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:10px;
margin-top:15px;
}
.operation-card{
background:#222;
padding:18px;
border-radius:16px;
text-align:center;
cursor:pointer;
}
#operationForm{
display:flex;
flex-direction:column;
gap:10px;
margin-top:20px;
}
.operation-item{
background:#1c1c1c;
padding:15px;
border-radius:14px;
margin-top:10px;
}
.logout{background:#9d2222;color:white}
@media(max-width:900px){
.app{flex-direction:column}
.sidebar{width:100%;min-height:auto}
}