body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

.topbar{
background:#111;
padding:20px;
text-align:center;
color:#d4af37;
font-size:28px;
font-weight:bold;
}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:15px;
}

.card{
background:#1c1c1c;
padding:20px;
text-align:center;
border-radius:15px;
cursor:pointer;
}

.form{
padding:15px;
}

input,select,button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
background:#d4af37;
font-weight:bold;
}

#list{
padding:15px;
}

.item{
background:#1a1a1a;
padding:10px;
margin-bottom:10px;
border-radius:10px;
}
